{% extends "layout.html" %}
{% block content %}
<form action="/result" method="get">
    <p>日にちを選択してください</p>
    <select name="day">
        <option value="0" selected="selected">今日</option>
        <option value="1">明日</option>
        <option value="2">明後日</option>
    </select>
    <p>県を選択してください</p>
    <select name="pref">
        <option value="none" selected="selected" class="msg">選択してください</option>
        {% for pref in data.prefs %}
        <option value="{{pref}}" class="{{pref}}">{{pref}}</option>
        {% endfor %}
    </select>
    <p>地域を選択してください</p>
    <select name="city">
        <option value="none" selected="selected" class="msg">選択してください</option>
        {% for pref, citys in data.pref.items() %}
        {% for city in citys %}
        <option value="{{city}}" class="{{pref}}">{{city}}</option>
        {% endfor %}
        {% endfor %}
    </select>
    <input type="submit" name="送信する" disabled>
</form>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/js/chain.js"></script>
{% endblock %}